/target/
.classpath
.project
.settings
nb-configuration.xml
*.swp
*.log
/design/
/nbproject/
/nbactions.xml
.idea
*.iml
.DS_Store
.factorypath
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
